@charset "utf-8";

/* input */
input::placeholder {font-weight:500; color:#666;}
label {position:relative; display:inline-block; vertical-align:middle;}
input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="month"], input[type="time"], select, .datalist, textarea, input[type="radio"], input[type="checkbox"], input[type="file"] {width:100%; font-family:'Pretendard', Sans-serif; font-size:13px; font-weight:400; color:#666; background-color:#fff; outline:none; box-sizing:border-box;}
input[type="text"], input[type="password"], input[type="number"], input[type="date"], input[type="month"], input[type="time"] {height:30px; padding:0 8px; vertical-align:middle; border:1px solid #ccc; border-radius:3px; background-color:#fff; box-sizing:border-box;}
input[type="text"]:hover, input[type="text"]:focus, input[type="text"]:active,
input[type="password"]:hover, input[type="password"]:focus, input[type="password"]:active,
input[type="number"]:hover, input[type="number"]:focus, input[type="number"]:active,
input[type="date"]:hover, input[type="date"]:focus, input[type="date"]:active,
input[type="month"]:hover, input[type="month"]:focus, input[type="month"]:active,
input[type="time"]:hover, input[type="time"]:focus, input[type="time"]:active {border-color:#6d92d3;}
input[type="text"]:disabled, input[type="password"]:disabled, input[type="number"]:disabled, input[type="date"]:disabled {color:#737689; border-color:#d1d1d1; background-color:#f9f9f9; cursor:unset;}
input[type="text"][readonly="readonly"], input[type="password"][readonly="readonly"], input[type="number"][readonly="readonly"] {color:#737689; border-color:#c5d1e0; background-color:#f1f4f7; pointer-events:none; cursor:unset;}

input[type="date"] {position:relative; cursor:pointer;}
input[type="date"]::-webkit-clear-button, input[type="date"]::-webkit-inner-spin-button {display:none;} 
input[type="date"]::-webkit-calendar-picker-indicator {position:absolute; left:0; top:0; width:100%; height:100%; background:transparent; color:transparent; cursor:pointer; z-index:1;} 
input[type="date"]:after {content:''; position:absolute; top:0; right:0; width:30px; height:28px; background:url('../images/inp_wrap.png') right -90px no-repeat;}
input[type="date"]:hover:after, input[type="date"]:focus:after, input[type="date"]:active:after {border-color:#6d92d3; background-position-y:-120px;}
input[type="date"]:disabled {color:#737689; border-color:#bec2c9; background-color:#f9f9f9; pointer-events:none; cursor:unset;}
input[type="date"][readonly="readonly"] {color:#737689; border-color:#c5d1e0; background-color:#f1f4f7; pointer-events:none; cursor:unset;}
input[type="date"]:disabled:after, input[type="date"][readonly="readonly"]:after { background-position-y:-150px;}

input[type="month"] {position:relative; cursor:pointer;}
input[type="month"]::-webkit-clear-button, input[type="month"]::-webkit-inner-spin-button {display:none;} 
input[type="month"]::-webkit-calendar-picker-indicator {position:absolute; left:0; top:0; width:100%; height:100%; background:transparent; color:transparent; cursor:pointer; z-index:1;} 
input[type="month"]:after {content:''; position:absolute; top:0; right:0; width:30px; height:28px; background:url('../images/inp_wrap.png') right -90px no-repeat;}
input[type="month"]:hover:after, input[type="month"]:focus:after, input[type="month"]:active:after {border-color:#6d92d3; background-position-y:-120px;}
input[type="month"]:disabled {color:#737689; border-color:#bec2c9; background-color:#f9f9f9; pointer-events:none; cursor:unset;}
input[type="month"][readonly="readonly"] {color:#737689; border-color:#c5d1e0; background-color:#f1f4f7; pointer-events:none; cursor:unset;}
input[type="month"]:disabled:after, input[type="month"][readonly="readonly"]:after { background-position-y:-150px;}

input[type="time"] {position:relative; cursor:pointer;}
input[type="time"]::-webkit-clear-button, input[type="time"]::-webkit-inner-spin-button {display:none;} 
input[type="time"]::-webkit-calendar-picker-indicator {position:absolute; left:0; top:0; width:100%; height:100%; background:transparent; color:transparent; cursor:pointer; z-index:1;} 
input[type="time"]:after {content:''; position:absolute; top:0; right:0; width:30px; height:28px; background:url('../images/inp_wrap.png') right -360px no-repeat;}
input[type="time"]:hover:after, input[type="time"]:focus:after, input[type="time"]:active:after {border-color:#6d92d3; background-position-y:-390px;}
input[type="time"]:disabled {color:#737689; border-color:#bec2c9; background-color:#f9f9f9; pointer-events:none; cursor:unset;}
input[type="time"][readonly="readonly"] {color:#737689; border-color:#c5d1e0; background-color:#f1f4f7; pointer-events:none; cursor:unset;}
input[type="time"]:disabled:after, input[type="time"][readonly="readonly"]:after {background-position-y:-420px;}

input[type="file"]{position:relative; width:100%; height:30px; padding:0 30px 0 8px; line-height:30px; border:1px solid #ccc; border-radius:3px; cursor:pointer;}
input[type="file"]:hover, input[type="file"]:focus, input[type="file"]:active {border-color:#6d92d3;}
input[type="file"]::file-selector-button {overflow:hidden; position:absolute; top:0; right:0; width:30px; height:28px; margin:0; padding:0; text-indent:-9999px; border:none; background:url('../images/inp_wrap.png') right -270px no-repeat;}
input[type="file"]:hover::file-selector-button, input[type="file"]:focus::file-selector-button, input[type="file"]:active::file-selector-button {background-position-y:-300px;}
input[type="file"]:disabled {color:#737689; border-color:#bec2c9; background-color:#f9f9f9; pointer-events:none; cursor:unset;}
input[type="file"][readonly="readonly"] {color:#737689; border-color:#c5d1e0; background-color:#f1f4f7; pointer-events:none; cursor:unset;}
input[type="file"]:disabled::file-selector-button, input[type="file"][readonly="readonly"]::file-selector-button {background-position-y:-330px;}

input[type="checkbox"], input[type="radio"] {width:auto; margin:0 3px 0 0;}
input[type="checkbox"]:disabled, input[type="radio"]:disabled {pointer-events:none; cursor:unset;}

input[type="image"] {max-width:100%;}

select {position:relative; height:30px; padding:0 30px 0 8px; vertical-align:middle; border:1px solid #ccc; border-radius:3px; background:url('../images/inp_wrap.png') right 0 no-repeat #fff; -webkit-appearance:none; -moz-appearance:none; appearance:none; cursor:pointer;}
select::-ms-expand {display:none;}
select:hover, select:focus, select:active {border-color:#6d92d3; background-position-y:-30px;}
select:disabled {color:#737689; border-color:#bec2c9; background-position-y:-60px; background-color:#f9f9f9; pointer-events:none; cursor:unset;}
select[readonly="readonly"] {color:#737689; border-color:#c5d1e0; background-position-y:-60px; background-color:#f1f4f7; pointer-events:none; cursor:unset;}
select option {font-weight:500;}

.datalist {display:inline-block; position:relative;}
.datalist input[type="text"] {position:relative;}
.datalist input[type="text"]::-webkit-textfield-decoration-container {position:absolute; left:0; top:0; width:100%; height:28px; padding:0 8px; box-sizing:border-box;}
.datalist input[type="text"]::-webkit-calendar-picker-indicator {position:absolute; left:0; top:0; width:100%; height:28px !important; background:url('../images/inp_wrap.png') right 0 no-repeat; color:transparent; cursor:pointer; opacity:1; box-sizing:border-box; z-index:1;}
.datalist input[type="text"]:disabled::-webkit-calendar-picker-indicator {visibility:visible; background-position-y:-60px;}
.datalist input[type="text"][readonly="readonly"]::-webkit-calendar-picker-indicator {visibility:visible; background-position-y:-60px;}

textarea {width:100%; min-height:100px; padding:8px; border:1px solid #ccc; border-radius:3px;}
textarea:hover, textarea:focus, textarea:active {border-color:#6d92d3;}
textarea:disabled {color:#737689; border-color:#bec2c9; background:#f9f9f9; pointer-events:none; cursor:unset;}
textarea[readonly="readonly"] {color:#737689; border-color:#c5d1e0; background:#f1f4f7; pointer-events:none; cursor:unset;}

pre {font-size:0.95em; font-family:'Pretendard', Sans-serif; color:#555; letter-spacing:0; line-height:1.4; white-space:pre-wrap; word-break:break-word;}

label + label {margin-left:8px;}

/* 자동완성 초기화 */
input[type="text"]:autofill, input[type="text"]:autofill:hover, input[type="text"]:autofill:focus, input[type="text"]:autofill:active,
input[type="password"]:autofill, input[type="password"]:autofill:hover, input[type="password"]:autofill:focus, input[type="password"]:autofill:active,
input[type="number"]:autofill, input[type="number"]:autofill:hover, input[type="number"]:autofill:focus, input[type="number"]:autofill:active {box-shadow:0 0 0 60px #fff inset; -webkit-text-fill-color:#666;}

/* 검색 */
.inp_srch {position:relative;}
.inp_srch input {width:100%; padding-right:30px; cursor:pointer;}
.inp_srch button {overflow:hidden; position:absolute; top:0; right:0; width:30px; height:30px; text-indent:-9999px; background:url('../images/inp_wrap.png') right -180px no-repeat;}
.inp_srch input:hover + button, .inp_srch input:focus + button, .inp_srch input:active + button {background-position-y:-210px; pointer-events:none; cursor:unset;}
.inp_srch input:disabled + button, .inp_srch input[readonly="readonly"] + button {background-position-y:-240px; pointer-events:none; cursor:unset;}

/* 기본버튼 */
.btn_wrap {display:flex; flex-wrap:wrap; justify-content:end; gap:3px; height:40px;}
.btn_cr_def {height:100%; padding:15px; font-weight:500; color:#fff !important; text-align:center; border:1px solid #0f298f; border-radius:3px; background:#0f298f;}
.btn_cr_del {height:100%; padding:15px; font-weight:500; color:#fff !important;; text-align:center; border:1px solid #fb8b6e; border-radius:3px; background:#fb8b6e;}
.btn_ln_def {height:100%; padding:15px; font-weight:500; color:#0f298f !important;; text-align:center; border:1px solid #0f298f; border-radius:3px; background:#fff;}
.btn_ln_del {height:100%; padding:15px; font-weight:500; color:#fb8b6e !important;; text-align:center; border:1px solid #fb8b6e; border-radius:3px; background:#fff;}
[class^="btn_cr"][readonly="readonly"], [class^="btn_ln"][readonly="readonly"] {color:#fff !important;; border-color:#a9acb1; background:#a9acb1; pointer-events:none; cursor:unset;}

/* 하단버튼 */
.bt_btn {height:60px; margin-top:50px; text-align:center;}
.bt_btn button, .bt_btn a {min-width:250px; padding:16px 30px;}

/* 아이콘버튼 */
.btn_ln_plus {padding:5px 8px; font-weight:500; color:#568ae5; text-align:center; border:1px solid #568ae5; border-radius:3px; background:#fff;}
.btn_ln_plus:after {content:""; display:inline-block; width:10px; height:10px; margin:-1px 0 0 5px; vertical-align:middle; background:url('../images/icon_wrap.png') 0 -60px no-repeat;}
.btn_ln_minus {padding:5px 8px; font-weight:500; color:#fb8b6e; text-align:center; border:1px solid #fb8b6e; border-radius:3px; background:#fff;}
.btn_ln_minus:after {content:""; display:inline-block; width:10px; height:2px; margin:-1px 0 0 5px; vertical-align:middle; background:url('../images/icon_wrap.png') -30px -60px no-repeat;}
.btn_ln_check {padding:5px 8px; font-weight:500; color:#568ae5; text-align:center; border:1px solid #568ae5; border-radius:3px; background:#fff;}
.btn_ln_check:after {content:""; display:inline-block; width:10px; height:7px; margin:-1px 0 0 5px; vertical-align:middle; background:url('../images/icon_wrap.png') -60px -60px no-repeat;}
[class^="btn_ln"][readonly="readonly"]:after {background-position-y:-90px;}

/* 조회버튼 */
.btn_srch {position:relative; width:80px; margin-left:3px; padding:10px; color:#fff; border-radius:3px; background:#28487f; vertical-align:middle; box-sizing:border-box;}
.btn_srch:before {content:""; display:inline-block; width:15px; height:15px; margin:0 5px 0 0; background:url('../images/icon_wrap.png') -270px -30px no-repeat; vertical-align:middle;}
.btn_reset {position:relative; width:80px; margin-left:3px; padding:10px; color:#fff; border-radius:3px; background:#6d92d3; vertical-align:middle; box-sizing:border-box;}
.btn_reset:before {content:""; display:inline-block; width:13px; height:13px; margin:-2px 5px 0 0; background:url('../images/icon_wrap.png') -270px 0 no-repeat; vertical-align:middle;}

/* 포인트컬러 */
.pnt_cr1 {color:#589bff !important;}
.pnt_cr2 {color:#fb8b6e !important;}
.pnt_cr3 {color:#8996b5 !important;}

/* layer pop */
.layer_wrap {overflow:hidden; position:fixed; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,.2); opacity:0; visibility:hidden; z-index:-1;}
.layer_wrap.layer_open {opacity:1; visibility:visible; z-index:99;}
.layer_cont {position:absolute; top:50%; left:50%; width:100%; max-width:800px; height:auto; max-height:90%; padding:25px; border-radius:15px; background:#fff; transform:translate(-50%, -50%); box-sizing:border-box;}
.layer_cont .pop_head {position:relative;}
.layer_cont .pop_head .pop_tit {padding-bottom:10px; font-size:18px; font-weight:600; color:#27241f; border-bottom:1px solid #45413d;}
.layer_cont .pop_head .btn_close {overflow:hidden; position:absolute; top:-3px; right:0; width:30px; height:30px; text-indent:-9999px; background:url('../images/icon_wrap.png') -90px -30px no-repeat;}
.layer_cont .pop_body {overflow-y:auto; max-height:calc(100vh - 180px); padding:20px 0 40px 0; box-sizing:border-box;}
.layer_cont .pop_body .bt_btn {position:absolute; left:50%; bottom:20px; width:100%; background:#fff; transform:translateX(-50%);}
/* layer pop size */
.layer_cont.layer_xl {max-width:1400px;}
.layer_cont.layer_lg {max-width:1000px;}
.layer_cont.layer_sm {max-width:600px;}

/* 탭 */
.tab_list > li > a {}
.tab_cont > div {display:none;}
.tab_cont > div.on {display:block;}


/* tab_style01 */
.tab_style01 .tab_list > li {margin-right:10px;}
.tab_style01 .tab_list > li > a {position:relative; padding:15px 30px; font-size:20px; border-radius:50px; border:1px solid #cacaca;}
.tab_style01 .tab_list > li:hover > a, .tab_list > li:focus > a, .tab_list > li:active > a {color:#236cdb;}
.tab_style01 .tab_list > li.on > a {font-size:24px; font-weight:600; color:#236cdb; border-color:#236cdb; background:#e2f1ff;}


/* tab_style02 */
.tab_style02 {position:relative; padding-left:310px;}
.tab_style02 .tab_list {position:absolute; top:50px; left:0;}
.tab_style02 .tab_list > li {width:230px; border-bottom:1px solid rgba(204,204,204,0.5);}
.tab_style02 .tab_list > li > a {display:block; position:relative; padding:15px 0; font-size:24px;}
.tab_style02 .tab_list > li:hover > a, .tab_list > li:focus > a, .tab_list > li:active > a {color:#236cdb;}
.tab_style02 .tab_list > li.on {border-color:#283876;}
.tab_style02 .tab_list > li.on > a {font-size:28px; color:#283876; border-color:#283876;}
.tab_style02 .tab_list > li.on > a:after {content:""; position:absolute; bottom:-1px; right:-30px; width:30px; height:21px; background:url('../images/icon_wrap.png') -210px -150px no-repeat;}

/* 조회 */
.srch_wrap {display:flex; flex-wrap:wrap; justify-content:space-between; padding:20px; border-radius:5px; background:#e5e7f3;}
.srch_inner {display:flex; flex-wrap:wrap; gap:5px 0; width:calc(100% - 180px);}
.srch_inner > dl {display:flex; align-items:center; width:25%;}
.srch_inner > dl dt {display:inline-block; width:100px; padding:0 10px; font-weight:600; text-align:right; box-sizing:border-box;}
.srch_inner > dl dd {display:inline-block; width:calc(100% - 105px);}

/* 그리드 */
#realgrid {width:100%;}

/* 테이블 */
.tb_base {width:100%; table-layout:fixed; border-top:1px solid #333; border-collapse:collapse; box-sizing:border-box;}
.tb_base th, .tb_base td {position:relative; color:#555; line-height:1.4; text-align:left; word-break:keep-all;}
.tb_base th {color:#333; background:#e5e7f3;}
.tb_base.tb_list thead > tr > th {border-bottom:none;}
.tb_base.tb_list tbody > tr:hover {background:#f5f7f9;}
.tb_base.tb_list tbody > tr:hover a {text-decoration:underline; text-underline-position:under;}
.tb_base.tb_list th, .tb_base.tb_list td {padding:8px; text-align:center; border-bottom:1px solid #ccd4df;}
.tb_base.tb_list button[class^="btn_cr"], .tb_base.tb_list button[class^="btn_ln"] {padding:2px 6px;}
.tb_base.tb_view th, .tb_base.tb_view td {padding:5px; border-bottom:1px solid #ccd4df;}
.tb_base.tb_view th {padding:5px 10px;}
.tb_base.tb_view th.req {position:relative; padding-left:10px;}
.tb_base.tb_view th.req:after {content:"*"; display:inline-block; margin-left:3px; font-size:15px; color:#f14b4b; vertical-align:middle;}
.tb_base.tb_view .tb_list th, .tb_base.tb_view .tb_list td {border-right:1px solid #ccd4df;}
.tb_base.tb_view .tb_list th:first-of-type, .tb_base.tb_view .tb_list td:first-of-type {border-left:1px solid #ccd4df;}

/* 페이징 */
.pagenation {position:relative; margin-top:30px; text-align:center;}
.pagenation > a {position:relative; display:inline-block; min-width:30px; height:30px; padding:0 8px; line-height:30px;}
.pagenation > a:hover, .pagenation > a:focus, .pagenation > a:active {text-decoration:underline; text-underline-position:under;}
.pagenation > a[class^='page_'] {overflow:hidden; margin-right:0; font-size:0; text-indent:-9999px; vertical-align:bottom; border:1px solid transparent; background:url('../images/icon_wrap.png') -150px 0 no-repeat;}
.pagenation > a[class^='page_']:hover, .paging_wrap > a[class^='page_']:focus, .paging_wrap > a[class^='page_']:active {border:1px solid #568ae5; border-radius:50%; background-position-y:-30px;}
.pagenation > a.page_last {background-position-x:-240px;}
.pagenation > a.page_before {background-position-x:-180px;}
.pagenation > a.page_after {background-position-x:-210px;}
.pagenation > a.on {font-weight:700; color:#fff; text-decoration:none; border-radius:50%; background:#568ae5;}

/* ztree */
.ztree {padding:20px; background:#f1f4f8;}