@charset "utf-8";

/* 
	작성자 : 이해인
	작성일 : 2024.10.07
	내용 : header/footer 공통 레이아웃
*/

/* css import */
@import url("base.css");
@import url("component.css");

/* 공통 */
.inner {position:relative; width:100%; max-width:1400px; margin:0 auto; }
/* header */
.header {position:fixed; top:0; left:0; width:100%; padding-top:20px; z-index:10; border-bottom: 1px solid #ddd;}
.header:before {content:""; position:absolute; top:100%; left:0; width:100%; height:0; background:rgba(0,0,0,0.6); transition:all 0.4s;}
.header .inner {display:flex; align-items:center; justify-content:space-between; width:100%; max-width:1600px;}
.header .logo {overflow:hidden; display:inline-block; font-size:0; text-indent:-9999px;}
.header .logo a {display:block; width:140px; height:58px; background:url('../images/logo.png') no-repeat; background-size:cover;}
.header .gnb {display:flex; gap:0 40px; color:#fff; z-index:9;}
.header .gnb > li > a {font-weight:600; line-height:80px;}
.header .gnb .gnb_2dpt {overflow:hidden; position:absolute; top:20%; height:0; margin-top:40px; font-size:18px; color:#fff; transition:all 0.8s;}
.header .gnb .gnb_2dpt > li {margin-bottom:25px;}
.header .user_wrap {font-size:16px; color:#fff; z-index:9;}
.header .user {display:inline-block; margin-right:8px;}
.header .time {display:inline-block; margin:0 3px 0 5px; vertical-align:middle;}
.header .btn_time {position:relative; padding:5px 8px; border-radius:10px; background:rgba(255,255,255,0.3);}
.header .btn_time:before {content:""; display:inline-block; width:16px; height:16px; margin:-2px 8px 0 0; vertical-align:middle; background:url('../images/icon_wrap.png') -60px 0 no-repeat;}
.header .btn_login {position:relative; padding:8px 15px; font-size:16px; border:1px solid #fff; border-radius:50px;}
.header .btn_login:before {content:""; display:inline-block; width:16px; height:17px; margin:-2px 8px 0 0; vertical-align:middle; background:url('../images/icon_wrap.png') 0 0 no-repeat;}
.header .btn_menu {display:none;}
.header .mob_wrap {position:absolute; top:0; right:-100vw; width:100%; max-width:860px; max-height:100vh; padding:20px 40px 20px 60px; background:rgba(247,248,249,0.95); opacity:0; transition:all .5s; box-sizing:border-box; border-bottom: 1px solid #ddd;}
/* header focus */
.header.on:before {height:350px;}
.header.on .gnb .gnb_2dpt {height:auto; top:100%;}
/* header color */
.header.act {background:#fff;}
.header.act:before {background:#fff;}
.header.act .logo a {background-image:url('../images/logo_on.png');}
.header.act .gnb, .header.act .gnb .gnb_2dpt, .header.act .user_wrap, .header.act .user_info {color:#222;}
.header.act .gnb > li.on > a {color:#0f298f;}
.header.act .time {color:#236cdb;}
.header.act .btn_time {color:#236cdb; background:#bfddff;}
.header.act .btn_login {color:#236cdb; border-color:#236cdb;}
.header.act .btn_time:before, .header.act .btn_login:before {background-position-y:-30px;}
.header.act .btn_menu span {background:#333 !important;}
.header.act.on:before {border-top:1px solid #ccc;}
/* footer */
.footer {color:#fff; background:#555;}
.footer .inner {display:flex; justify-content:space-between; width:100%; max-width:1600px; padding:40px 0 50px 0;}
.footer .f_left > ul {display:inline-flex; gap:40px;}
.footer .f_left .watch {width:73px; margin-left:40px;}
.footer .f_info {display:flex; align-items:center;}
.footer .f_logo {display:inline-block; position:relative; width:128px; height:95px; margin-right:60px; font-size:0; text-indent:-9999px; background:url('../images/f_logo.png') no-repeat; background-size:contain;}
.footer .f_logo:after {content:""; position:absolute; top:0; right:-30px; width:1px; height:100%; vertical-align:middle; background:rgba(255,255,255,0.1);}
.footer .f_info > div {padding:10px 0;}
.footer .f_info p {line-height:1.5;}
.footer .f_info p.f_copy {margin-top:10px;}
.footer .rel_wrap {position:relative; margin-bottom:10px; font-size:16px;}
.footer .rel_wrap > a {position:relative; width:230px; height:40px; padding:0 20px; line-height:40px; border:1px solid #fff; border-radius:50px; box-sizing:border-box;}
.footer .rel_wrap > a:after {content:""; position:absolute; top:0; right:0; width:40px; height:40px; background:url('../images/inp_wrap.png') 0 -120px no-repeat;}
.footer .rel_wrap > ul {display:none; position:absolute; left:0; bottom:100%; width:230px; padding:10px 20px; border-radius:20px; border:1px solid #fff; border-bottom:none; background:rgba(85,85,85,0.8);}
.footer .rel_wrap > ul > li {margin:5px 0;}
.footer .f_btm {display:flex; justify-content:space-between; align-items:center; position:relative; padding:0 0 0 220px; font-size:16px;}
.footer .f_number {padding:10px 0;}
.footer .f_number > b {display:block; font-size:35px; font-weight:800;}
.footer .f_time > span {display:inline-block; margin-right:10px; padding:6px 12px; border-radius:50px; background:#111;}
/* quick */


/* 로그인 */
.login_container {padding-top: 180px; background-color: #e8effb; padding-bottom: 5rem;}
.login_tit {margin-bottom: 50px;}
.login_tit .cont_tit {margin-bottom: 4rem;}
.login_tit .login_description {margin-bottom: 30px; display: flex; gap: 20px;}
.login_tit .login_description .link_btn a {font-weight: 600;}
.login_tit .login_info {line-height: 1.6;}
.login_tit .login_info span {color: #0f298f; font-weight: 500;}
.login_tit .login_info b {color: #ad0000; font-weight: 500;}

.login_wrap {display: flex; justify-content: space-between; max-width: 100%; margin: 40px auto; }
.login_box {background-color: #fff; padding: 50px; border-radius: 20px; width: 48%; border: 1px solid #e3e7f0; position: relative; text-align: center;}
.login_box .login_type {display: inline-flex; align-items: center; justify-content: center; width: 100px; height: 50px; font-weight: 300; border: 1px solid #236cdb; color: #236cdb; border-radius: 50px; position: absolute; top:35px; left: 40px;}
.login_box .find_link {position: absolute; left: 10px; bottom: -40px; padding-left: 26px; }
.login_box a.find_link::after {content: ''; display: block; width: 0; border-bottom: 1px solid #236cdb; transition: width 0.3s ease; position: absolute; bottom: -4px; }
.login_box .find_link:hover:after {width: calc(100% - 26px);}
.login_box .find_link .icon_care {width: 26px; height: 26px; position: absolute; left: -8px; top: -2px;}

.user_type {display: flex; margin: 0 auto; width: 300px; }
.user_type .label {flex: 1; text-align: center; font-size: 30px; cursor: pointer; padding-bottom: 10px; border-bottom: 1px solid #e3e7f0; color: #666;}
.user_type input[type="radio"] { position: absolute; opacity: 0; width: 0; height: 0; }
.user_type input[type="radio"]:checked + label { color: #111; border-bottom: 3px solid #0056b3; }
.form_group {display: flex; align-items: center;}
.form_group li {flex: 1; display: flex; justify-content: space-between; align-items: center; }
.form_group label {width: 100px; font-size: 20px; font-weight: 600; text-align: left;}
.form_group input {flex:1; font-size: 18px; }
.login_btn {padding: 20px 0; width: 400px; margin: 0 auto; background-color: #0056b3; border: none; border-radius: 10px; cursor: pointer; font-size: 30px; font-weight: 600; color: #fff;}
.login_btn:hover {background-color: #033c95; }

.personal .form_group {display: flex; flex-direction: column; gap: 10px; padding: 40px 0;}
.corporate .login_type {border-color: #0f298f; color: #0f298f;}
.corporate .user_type .label {border-bottom: 3px solid #0f298f; color: #111; }
.corporate .form_group {height: 170px; margin: 0 50px;}
.corporate .form_group label {width: 150px;}
.corporate .login_btn {background-color: #0f298f;} 
.corporate .login_btn:hover {background-color: #031352;}
.corporate .login_btn > span {font-weight: 400;}



@media (max-width:1600px) {
	.header, .footer {padding:0 20px;}
}
@media (max-width:1400px) {
	.header {padding:20px 30px;}
	.header .logo a {width:280px; height:116px;}
	.header .gnb, .header .user_wrap {display:none;}
	.header .btn_menu {display:block;}
	.header .btn_menu {overflow:hidden; display:block; position:relative; width:48px; height:42px; font-size:0; text-indent:-9999px; z-index:10;}
	.header .btn_menu span {position:absolute; top:0; right:0; width:100%; height:4px; border-radius:10px; background:#fff; transition:all 0.5s;}
	.header .btn_menu span:nth-of-type(2) {top:calc(50% - 2px); width:32px;}
	.header .btn_menu span:nth-of-type(3) {top:calc(100% - 4px);}
	.header .btn_menu.on span {top:50%; width:32px; height:3px; background:#333; transform:rotate(-45deg) translate(-6px, -10px);}
	.header .btn_menu.on span:nth-of-type(2) {top:50%; opacity:0;}
	.header .btn_menu.on span:nth-of-type(3) {transform:rotate(45deg) translate(-10px, 6px);}
	.header .mob_wrap.on {right:0; opacity:1;}
	.header .user_mob {display:flex; align-items:center; justify-content:space-between; flex-wrap:wrap; margin-bottom:50px; padding-right:55px;}
	.header .user_mob .logo a {background-image:url('../images/logo_on.png');}
	.header .user {margin-right:0; font-size:32px; vertical-align:middle;}
	.header .btn_login {margin-left:10px; padding:15px 20px; font-size:32px; color:#236cdb; border-color:#236cdb; border-width:2px;}
	.header .btn_login:before {display:none;}
	.header .gnb_mob {overflow-y:auto; height:700px;}
	.header .gnb_mob  > li {padding:30px 0; border-top:1px solid #cfcfcf;}
	.header .gnb_mob  > li > a {display:block; position:relative; font-size:48px; font-weight:700;}
	.header .gnb_mob  > li > a:after {content:""; position:absolute; top:20px; right:0; width:40px; height:20px; background:url('../images/icon_wrap.png') -150px -150px no-repeat; transition:all 0.5s;}
	.header .gnb_mob  > li.on > a:after {transform:rotate(180deg)}
	.header .gnb_2dpt {display:none; font-size:40px;}
	.header .gnb_2dpt > li > a {padding-top:25px;}
	.header.act {border:none;}
}
@media (max-width:1200px) {
	.footer .inner {flex-wrap:wrap-reverse;}
	.footer .f_left, .footer .f_right {width:100%;}
	.footer .f_left > ul {flex-wrap:wrap; gap:5px 20px;}
	.footer .f_logo {width:100px; height:82px;}
	.footer .f_info {margin-top:20px;}
	.footer .f_info p.f_copy {font-size:16px;}
	.footer .rel_wrap {display:none;}
	.footer .watch {position:absolute; top:30px; right:0;}
	.footer .f_number {padding:0; font-size:32px;}
	.footer .f_number > b {margin:10px 0 25px 0; font-size:70px;}
	.footer .f_right {margin-bottom:20px; padding-bottom:20px; border-bottom:1px solid rgba(255,255,255,0.1);}
}
@media (max-width:768px) {
	.header {padding:20px 25px;}
	.header .logo a {width:140px; height:58px;}
	.header .btn_menu {width:40px; height:36px;}
	.header .user_mob {display:block; margin-bottom:25px; padding:0;}
	.header .user {display:block; margin-top:20px; font-size:20px; text-align:right;}
	.header .btn_login {padding:10px 15px; font-size:20px;}
	.header .mob_wrap {padding:10px 25px;}
	.header .gnb_mob > li {padding:25px 0;}
	.header .gnb_mob > li > a {font-size:24px;}
	.header .gnb_mob > li > a:after {top:5px;}
	.header .gnb_2dpt > li > a {padding-top:10px; font-size:18px;}
	.footer .f_logo:after {display:none;}
	.footer .f_info {flex-wrap:wrap;}
	.footer .f_info > div {width:100%;}
}
@media (max-width:500px) {
	.footer .f_number > b {font-size:50px;}
}
