@charset "utf-8";

/* 
	작성자 : 이해인
	작성일 : 2024.10.07
	내용 : index 레이아웃
*/

.idx_wrap {overflow:hidden; width:100%; min-height:calc(100vh - 100px);}
.idx_wrap .inner {position:inherit; padding:120px 0 110px 0; box-sizing:border-box;}
/* base */
.idx_wrap .idx_tit > h3 {font-size:50px; font-weight:500; word-break:keep-all;}
.idx_wrap .idx_tit > p {margin:10px 0 0 0; font-weight:500;}
.idx_wrap .idx_tit ~ .idx_tit {margin-top:100px;}
.idx_wrap .idx_list {display:flex; align-items:end; gap:25px; margin-top:100px;}
.idx_wrap .idx_cont {overflow:hidden; flex:1 1 0; position:relative; border-radius:30px; transition:all .5s;}
.idx_wrap .idx_thum {overflow:clip; position:relative; width:100%; max-height:185px;}
.idx_wrap .idx_thum:after {content:""; position:absolute; top:50%; left:50%; width:56px; height:56px; background:url('../images/icon_wrap.png') -240px 0 no-repeat; transform:translate(-50%,-50%);}
.idx_wrap .idx_thum img {width:100%;}
.idx_wrap .idx_info {width:100%; height:225px; padding:35px 30px; background:#f7f7f8; box-sizing:border-box;}
.idx_wrap .idx_tit2 {overflow:hidden; position:relative; display:block; font-size:26px; word-break:keep-all; white-space:nowrap; text-overflow:ellipsis}
.idx_wrap .idx_txt {overflow:hidden; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; line-height:1.4; word-break:keep-all; text-overflow:ellipsis; margin:10px 0 20px 0; font-size:20px; color:#1a1a1a;}
.idx_wrap .idx_txt:last-child {margin-bottom:0;}
.idx_wrap .idx_info > span {display:block; font-size:16px; color:#666;}
/* base on */
.idx_wrap.on .idx_cont.on {flex:3 1 0;}
.idx_wrap.on .idx_cont.on .idx_tit2 {font-size:26px;}
.idx_wrap.on .idx_cont.on .idx_info {display:none;}
.idx_wrap.on .idx_cont.on .idx_thum {height:375px; max-height:none;}
.idx_wrap.on .idx_info {height:125px; padding:20px;}
.idx_wrap.on .idx_tit2 {font-size:20px;}
.idx_wrap.on .idx_tit2:before {display:none;}
.idx_wrap.on .idx_txt {font-size:18px;}
.idx_wrap.on .idx_info > span {display:none;}
/* video */
.idx_wrap.video {height:100vh;}
.idx_wrap.video iframe {width:100%; height:100%;}
.idx_wrap.video .scroll {position:absolute; left:50%; bottom:55px; font-size:16px; color:#fff; transform:translateX(-50%); animation:motion 0.6s linear 0s infinite alternate;}
.idx_wrap.video .scroll:before {content:""; display:block; width:30px; height:48px; margin:0 auto 6px auto; background:url('../images/icon_wrap.png') -90px 0 no-repeat;}
.idx_wrap.video .scroll:after {content:""; display:block; width:7px; height:32px; margin:5px auto 0 auto; background:url('../images/icon_wrap.png') -120px 0 no-repeat;}
/* task */
.idx_wrap.task {display:flex; color:#fff;}
.idx_wrap.task .idx_cont {border-radius:0;}
.idx_wrap.task .idx_cont:before {content:""; position:absolute; width:100%; height:100%; background:rgba(0,0,0,0.6); transition:all .5s;}
.idx_wrap.task .idx_cont.test {background:url('../images/img_sec02-1.png') no-repeat; background-size:cover;}
.idx_wrap.task .idx_cont.test .task_tit {right:18%; transition:all .5s;}
.idx_wrap.task .idx_cont.chart {flex:450px 0 0; background:url('../images/img_sec02-2.png') center no-repeat; background-size:cover;}
.idx_wrap.task .idx_cont.chart .task_tit {top:auto; bottom:70px;}
.idx_wrap.task .idx_cont.chart .task_tit:before {top:70px;}
.idx_wrap.task .idx_cont.guide {background:url('../images/img_sec02-3.png') no-repeat; background-size:cover;}
.idx_wrap.task .idx_cont.guide .task_tit {top:50%; transform:translateY(-50%);}
.idx_wrap.task .idx_cont.guide .task_tit:before {top:70px;}
.idx_wrap.task .task_tit {position:absolute; top:0; width:300px; margin-left:30px; padding-top:150px; word-break:keep-all; z-index:1; box-sizing:border-box;}
.idx_wrap.task .task_tit:before {content:""; position:absolute; top:0; left:-30px; width:1px; height:350px; background:#fff; transition:all .5s;}
.idx_wrap.task .task_tit > h4 {font-size:35px; font-weight:600;}
.idx_wrap.task .task_tit > p {position:relative; margin-top:30px; font-size:24px; font-weight:300; line-height:1.4;}
.idx_wrap.task .task_tit > p:after {content:""; display:inline-block; width:71px; height:23px; margin-left:25px; vertical-align:bottom; background:url('../images/icon_wrap.png') -150px 0 no-repeat;}
.idx_wrap.task .task_info {display:none; gap:20px; margin:70px 50px; transform:translateX(-100vw);}
.idx_wrap.task .task_info > li {min-width:200px; padding:10px 20px; border-radius:50px; background:rgba(0,11,172,0.3); box-sizing:border-box;}
.idx_wrap.task .task_info > li > span {font-size:18px;}
.idx_wrap.task .task_info > li > p {font-size:20px; font-weight:700;}
/* task on */
.idx_wrap.task.on .idx_cont {flex:0.8 1 0;}
.idx_wrap.task.on .idx_cont.test .task_tit {right:auto; left:0;}
.idx_wrap.task.on .idx_cont.on {flex:3 1 0;}
.idx_wrap.task.on .idx_cont.on:before {background:rgba(0,0,0,0.4);}
.idx_wrap.task.on .idx_cont.on .task_tit:before {height:500px;}
.idx_wrap.task.on .idx_cont.on .task_info {display:flex; transform:translateX(0);}
/* story - 장애인고용공단 스토리 */
.idx_wrap.story .idx_tit2:before {content:""; display:inline-block; width:23px; height:22px; margin:-3px 8px 0 0; vertical-align:middle; background:url('../images/icon_wrap.png') -150px -30px no-repeat;}
/* sample - 우수사례 */
.idx_wrap.sample {background:#d5ecfe59;}
.idx_wrap.sample .idx_thum:after {display:none;}
.idx_wrap.sample .idx_info {height:170px; background:#fff;}
.idx_wrap.sample .sample_more {position:absolute; bottom:50px; left:50%; font-size:24px; font-weight:500; color:#236cdb; transform:translateX(-50%);}
.idx_wrap.sample .sample_more:after {content:""; display:inline-block; width:50px; height:16px; margin:-12px 0 0 8px; vertical-align:middle; background:url('../images/icon_wrap.png') -180px -30px no-repeat;}
/* sample on */
.idx_wrap.sample.on .idx_info {height:125px;}
.idx_wrap.sample.on .idx_cont.on {box-shadow:0 5px 15px rgba(0,0,0,0.25);}
.idx_wrap.sample.on .idx_cont.on .idx_thum {height:250px;}
.idx_wrap.sample.on .idx_cont.on .idx_info {display:block;}
/* news - 이달의 소식 */
.idx_wrap.news {min-height:0;}
.idx_wrap.news .idx_list {margin-top:50px;}
.idx_wrap.news .idx_cont {border:2px solid #e3e7f0; border-radius:30px;}
.idx_wrap.news .idx_info {height:auto; padding:30px 30px 20px 30px; background:#fff;}
.idx_wrap.news .idx_tit2 {margin-top:30px;}
.idx_wrap.news .idx_txt {font-size:18px;}
.idx_wrap.news .idx_info > span {display:inline-block; margin-right:10px;}
.idx_wrap.news .idx_info .idx_type {position:relative;}
.idx_wrap.news .idx_info .idx_type:before {content:""; display:inline-block; width:36px; height:30px; margin:-2px 10px 0 0; vertical-align:middle; background:url('../images/icon_wrap.png') -120px -60px no-repeat;}
/* news on */
.idx_wrap.news.on .idx_info {height:auto;}
.idx_wrap.news.on .idx_info > span {display:inline-block;}
.idx_wrap.news.on .idx_tit2 {font-size:26px;}
.idx_wrap.news.on .idx_cont.on {flex:1 1 0; box-shadow:0 5px 15px rgba(0,0,0,0.25);}
.idx_wrap.news.on .idx_cont.on .idx_thum {height:auto;}
.idx_wrap.news.on .idx_cont.on .idx_info {display:block;}
.idx_wrap.news.on .idx_cont.on .idx_info .idx_type:before {background-position-y:-90px;}
/* brd - 공지&안내 */
.idx_wrap.brd {min-height:0;}
.idx_wrap.brd .inner {padding:0 0 100px 0;}
.idx_wrap.brd .idx_list {gap:40px; margin-top:0; color:#1a1a1a;}
.idx_wrap.brd .idx_tit2 {margin:0; font-size:24px;}
.idx_wrap.brd .idx_stat {position:relative; height:50px; padding:13px 20px; font-size:20px; font-weight:600; vertical-align:top; border-radius:12px; background:#e7ecff;}
.idx_wrap.brd .idx_stat:before {content:""; display:inline-block; width:30px; height:30px; margin:-4px 8px 0 0; vertical-align:middle; background:url('../images/icon_wrap.png') -180px -60px no-repeat;}
.idx_wrap.brd .idx_stat.fap {background:#f8eaf2;}
.idx_wrap.brd .idx_stat.fap:before {background-position-y:-90px;}
.idx_wrap.brd .idx_stat.fap + .idx_info {width:calc(100% - 190px);}
.idx_wrap.brd .idx_brd {flex:1 1 0;}
.idx_wrap.brd .idx_brd a {display:flex; padding:20px 0; border-bottom:1px solid #e3e7f0;}
.idx_wrap.brd .idx_brd .idx_info {position:relative; width:calc(100% - 150px); height:auto; padding:0 20px 0 35px; background:none;}
.idx_wrap.brd .idx_brd .idx_txt {display:block; width:calc(100% - 140px); margin:10px 0 0 0; white-space:nowrap;}
.idx_wrap.brd .idx_brd .date {position:absolute; bottom:2px; right:0; margin:0;}
.idx_wrap.brd .idx_qna {flex:330px 0 0; position:relative; padding:30px 85px 30px 30px; border-radius:16px; background:#f6e5d5;}
.idx_wrap.brd .idx_qna .idx_tit2 {margin-top:0; font-size:30px;}
.idx_wrap.brd .idx_qna .idx_txt {display:block;}
.idx_wrap.brd .idx_qna:after {content:""; position:absolute; bottom:20px; right:30px; width:90px; height:68px; background:url('../images/icon_wrap.png') -210px -60px no-repeat;}

@media (max-width:1600px) {
	.idx_wrap .inner {padding-left:30px; padding-right:30px;}
	/* task */
	.idx_wrap.task {display:block;}
	.idx_wrap.task .idx_cont {width:100%; height:800px;}
	.idx_wrap.task .idx_cont.test .task_tit, .idx_wrap.task .idx_cont.chart .task_tit, .idx_wrap.task .idx_cont.guide .task_tit {top:50%; left:50%; right:auto; bottom:auto; margin-left:0; padding-top:0; transform:translate(-50% , -50%);}
	.idx_wrap.task .task_tit:before {display:none;}
	.idx_wrap.task.on .idx_cont.on .task_info {display:none;}
	.idx_wrap.brd .inner {padding:0 30px 100px 30px;}
}
@media (max-width:1400px) {
	.idx_wrap {min-height:auto;}
	.idx_wrap .inner {padding:50px 30px;}
	.idx_wrap .idx_list {margin-top:50px;}
	.idx_wrap.story .idx_list, .idx_wrap.sample .idx_list, .idx_wrap.news .idx_list {overflow-x:auto; overflow-y:hidden;}
	.idx_wrap.story .idx_cont, .idx_wrap.sample .idx_cont {flex:0 0 330px;}
	.idx_wrap.sample {background:#fff;}
	.idx_wrap.sample .idx_info {background:#f7f7f8;}
	.idx_wrap.sample .sample_more {display:none;}
	.idx_wrap.news .idx_cont {flex:0 0 450px;}
	.idx_wrap.brd .inner {padding:50px 30px;}
	.idx_wrap.brd .idx_list {display:block; margin-top:50px;}
	.idx_wrap.brd .idx_qna {width:calc(100% + 60px); margin:50px 0 0 -30px; border-radius:0;}
	.idx_wrap.brd .idx_qna:after {bottom:14px;}
	.idx_wrap.brd .idx_qna .idx_tit2, .idx_wrap.brd .idx_qna .idx_txt {display:inline-block; margin:0 30px 0 0; vertical-align:middle;}
}
@media (max-width:750px) {
	.idx_wrap.task .idx_cont.test .task_tit, .idx_wrap.task .idx_cont.chart .task_tit, .idx_wrap.task .idx_cont.guide .task_tit {top:200px; left:30px; transform:translate(0,0);}
	.idx_wrap.task .task_tit {width:calc(100% - 60px);}
	.idx_wrap.task .task_tit > h4 {font-size:70px;}
	.idx_wrap.task .task_tit > p {font-size:48px; line-height:1.2;}
	.idx_wrap.task .task_tit > p:after {margin-left:50px; vertical-align:middle;}
	.idx_wrap.story .idx_tit2:before {display:none;}
	.idx_wrap.news .idx_cont {flex:0 0 330px;}
	.idx_wrap.news .idx_tit2 {display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:2; white-space:inherit; word-break:keep-all;}
	.idx_wrap.brd .idx_brd a {flex-wrap:wrap;}
	.idx_wrap.brd .idx_brd .idx_info, .idx_wrap.brd .idx_stat.fap + .idx_info {width:100%; padding:20px 0 0 0;}
	.idx_wrap.brd .idx_brd .idx_txt {display:-webkit-box; width:100%; white-space:inherit;}
	.idx_wrap.brd .idx_brd .date {position:relative; bottom:auto; right:auto; display:block; margin-top:20px; text-align:right;}
	.idx_wrap.brd .idx_qna {width:100%; margin:50px 0 0 0; border-radius:16px;}
	.idx_wrap.brd .idx_qna .idx_tit2, .idx_wrap.brd .idx_qna .idx_txt {display:block; margin:0 0 15px 0;}
}
@media (max-width:500px) {
	.idx_wrap .idx_tit > h3 {font-size:40px;}
	.idx_wrap.video {height:600px;}
	.idx_wrap.video .scroll {transform:translateY(-100px);}
	.idx_wrap.task .idx_cont {height:600px;}
	.idx_wrap.task .task_tit > h4 {font-size:40px;}
	.idx_wrap.task .task_tit > p {font-size:20px; line-height:1.6;}
}
@keyframes motion {
	0% {bottom:45px;}
	100% {bottom:55px;}
}